import packages

In [1]:
import pandas as pd

1.Load data and read

In [2]:
california=pd.read_csv('https://raw.githubusercontent.com/bharath1604/Handling_Missing_Values/master/california_cities.csv',header=None)

In [3]:
california

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
1,0.0,Adelanto,34.57611111111112,-117.4327777777778,875.0,2871.0,31765,56.027,56.00899999999999,0.018000000000000002,145.107,145.062,0.046,0.03
2,1.0,AgouraHills,34.15333333333333,-118.76166666666668,281.0,922.0,20330,7.822,7.792999999999998,0.029,20.26,20.184,0.076,0.37
3,2.0,Alameda,37.75611111111111,-122.27444444444444,180.41670506912445,33.0,75467,22.96,10.611,12.349,59.465,27.482,31.983,53.79
4,3.0,Albany,37.88694444444445,-122.29777777777778,180.41670506912445,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,477.0,Yountville,38.40305555555555,-122.3622222222222,30.0,98.0,2933,1.531,1.531,0.0,3.966,3.966,0.0,0.0
479,478.0,Yreka,41.72666666666667,-122.6375,787.0,2582.0,7765,10.053,9.98,0.073,26.036,25.847,0.188,0.72
480,479.0,YubaCity,39.134722222222216,-121.62611111111109,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
481,480.0,Yucaipa,34.03027777777777,-117.04861111111113,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.23100000000002,0.013,0.02
482,481.0,YuccaValley,34.13333333333333,-116.41666666666669,1027.0,3369.0,20700,40.015,40.015,0.0,103.639,103.639,0.0,0.0

2.Drop the nan values by using (dropna()) [axis=0 means rows and axis=1 means columns]

In [4]:
california.dropna()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,0.0,Adelanto,34.57611111111112,-117.4327777777778,875.0,2871.0,31765,56.027,56.00899999999999,0.018000000000000002,145.107,145.062,0.046,0.03
2,1.0,AgouraHills,34.15333333333333,-118.76166666666668,281.0,922.0,20330,7.822,7.792999999999998,0.029,20.26,20.184,0.076,0.37
3,2.0,Alameda,37.75611111111111,-122.27444444444444,180.41670506912445,33.0,75467,22.96,10.611,12.349,59.465,27.482,31.983,53.79
4,3.0,Albany,37.88694444444445,-122.29777777777778,180.41670506912445,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
5,4.0,Alhambra,34.08194444444445,-118.135,150.0,492.0,83089,7.6320000000000014,7.631,0.001,19.766,19.763,0.003,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,477.0,Yountville,38.40305555555555,-122.3622222222222,30.0,98.0,2933,1.531,1.531,0.0,3.966,3.966,0.0,0.0
479,478.0,Yreka,41.72666666666667,-122.6375,787.0,2582.0,7765,10.053,9.98,0.073,26.036,25.847,0.188,0.72
480,479.0,YubaCity,39.134722222222216,-121.62611111111109,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
481,480.0,Yucaipa,34.03027777777777,-117.04861111111113,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.23100000000002,0.013,0.02
482,481.0,YuccaValley,34.13333333333333,-116.41666666666669,1027.0,3369.0,20700,40.015,40.015,0.0,103.639,103.639,0.0,0.0

3.Delete unwanted rows or columns