In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pandas_profiling

In [3]:
URL=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/shuttle-landing-control/shuttle-landing-control.data',header=None)

In [4]:
URL

    0  1  2  3  4  5  6
0   2  *  *  *  *  *  2
1   1  2  *  *  *  *  1
2   1  1  2  *  *  *  1
3   1  1  1  *  *  *  1
4   1  1  3  2  2  *  1
5   1  *  *  *  *  4  1
6   2  1  4  *  *  1  1
7   2  1  4  *  *  2  1
8   2  1  4  *  *  3  1
9   2  1  3  1  1  1  1
10  2  1  3  1  1  2  1
11  2  1  3  1  2  1  1
12  2  1  3  1  2  2  1
13  1  1  3  1  1  3  1
14  2  1  3  1  2  3  1

In [11]:
Names=['Class','STABILITY','ERROR','SIGN','WIND','MAGNITUDE','VISIBILITY']

In [12]:
URL.columns=Names

In [13]:
URL

    Class STABILITY ERROR SIGN WIND MAGNITUDE  VISIBILITY
0       2         *     *    *    *         *           2
1       1         2     *    *    *         *           1
2       1         1     2    *    *         *           1
3       1         1     1    *    *         *           1
4       1         1     3    2    2         *           1
5       1         *     *    *    *         4           1
6       2         1     4    *    *         1           1
7       2         1     4    *    *         2           1
8       2         1     4    *    *         3           1
9       2         1     3    1    1         1           1
10      2         1     3    1    1         2           1
11      2         1     3    1    2         1           1
12      2         1     3    1    2         2           1
13      1         1     3    1    1         3           1
14      2         1     3    1    2         3           1

In [14]:
URL.to_csv('SHUTTLE LANDING CONTROL.csv')